.examenes{
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
}
.options{
    margin-left: 5%;
}
.card{
    width: 50%;
    margin-left: 25%;
    max-height: 95%;
}
.contain{
    padding-top: 2%;
    padding-bottom: 0%;
}