body { 
    background-image: url("background.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.418) ;
}
.chat{
    margin-top: -8%;
    margin-left: -10%; 
}